/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
}
a { color: inherit; }
body {background-color: #282828;}
main { 
    background-color: inherit;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}
/*fonts*/
/*Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*responsive*/

/*main*/
.big-text h1 {
    font-size: 9vw;
    color: white;
    text-align: center;

}
/*buttons*/
.bttn {
    padding: 1em 1.5em;
    margin: 10px 0;
    background-color: white;
    border-radius: 5em;
    border: none;
    font-size:1.5rem;
    outline: none;
}
#answers .bttn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#answers .bttn:focus{
    background-image: url(https://findicons.com/files/icons/1035/human_o2/128/dialog_question.png);
    background-repeat: no-repeat;
    background-position: right center left;
}
.button-grid {
    display: grid;
    gap: 5px;
}
.controls {
    margin: 15px;
    gap: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.controls button {
    padding: 10px 20px;
}
#button-start {
    float: left;
    background-color: #2AC73B;
    border-radius:0.3em;
}
.controls button:hover {
    cursor: pointer;
}
.controls button:focus{
    transform: scale(0.9);
}
#button-next {
    border-radius: 0.3em;
    position: absolute;
    background-color: #C7712A;
}
/*questions*/
#question-container {
    border-radius: 3vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#question {
    font-size: 2.5rem;
    margin: 5%;
    color: white;
    text-align: center;
}
/*score*/
.points {
    text-align: right;
}
.points-text {
    color: white;
    font-size: 2.0rem;
}
.num-score {
    /*background-image: radial-gradient(#A88500,gold);*/
    color: gold;
    font-size: 2.5rem;
}
/*user*/
.form-container {
    margin: 1.5rem;
}
.form-container input {
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
/*highScores*/
.highScores {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}
/*hide&show*/
.hide {
    display: none;
}

/*mediaQueries*/
