/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
}
a { color: inherit; }
body {background-color: #282828;}
main { 
    background-color: inherit;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}
/*fonts*/
/*Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*Piedra*/
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

/*main*/
.big-text h1 {
    font-size: 9vw;
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
/*buttons*/
.bttn {
    padding: 1em 1.5em;
    margin: 10px 0;
    background-color: white;
    border-radius: 5em;
    border: none;
    font-size:1.5rem;
    outline: none;
}
#answers .bttn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#answers .bttn:focus{
    background-image: url(https://findicons.com/files/icons/1035/human_o2/128/dialog_question.png);
    background-repeat: no-repeat;
    background-position: right center left;
}
.button-grid {
    display: grid;
    gap: 5px;
}
.controls {
    gap: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 25%;
}
.controls button {
    padding: 10px 20px;
}
#button-start {
    float: left;
    background-color: #2AC73B;
    border-radius:0.3em;
}
.controls button:hover {
    cursor: pointer;
}
.controls button:focus{
    transform: scale(0.9);
}
#button-next {
    border-radius: 0.3em;
    background-color: #C7712A;
}
/*questions*/
#question-container {
    border-radius: 3vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#question {
    font-size: 3rem;
    margin-bottom: 5%;
    color: white;
    text-align: center;
}
/*score*/
.points {
    text-align: right;
}
.points-text {
    color: white;
    font-size: 2.0rem;
}
.num-score {
    /*background-image: radial-gradient(#A88500,gold);*/
    color: gold;
    font-size: 2.5rem;
}
/*user*/
.form-container {
    margin: 1.5rem;
}
.form-container input {
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
/*highScores*/
.highScores {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}
/*username*/
.user-name {
    text-align: right;
}
#userInput {
    font-size: 3rem;
    font-family: 'Piedra', cursive;
    font-weight: bold;
    color: white;
}
/*hide&show*/
.hide {
    display: none;
}
/*progressBar*/
.theBar {
    position: absolute;
    width: 70vw;
    bottom: 10%;
    left: 20%;
    
}
.progress {
    align-items: center;
}
.logo-questions {
    display: flex;
    width: 70vw;
    bottom: 10%;
    left: 20%;
}
.logo {
    flex: 1;
    max-width:7rem;
    position: relative;
    height: auto;
}

#html {
    position: absolute;
    bottom:7%;
    left: 25%;
}
#css {
    position: absolute;
    bottom: 7%;
    left: 40%;
}
#js {
    position: absolute;
    bottom: 7%;
    left: 54%;
}
#barra {
  width: 60%;
  height: 3rem;
  background-color: #ddd;
}

#bar {
  height: 3rem;
  background-color: #4CAF50;
}


/*mediaQueries*/
@media screen and (max-width: 960px) {
    #html, #css, #js {
        max-width: 10%;
        bottom: 8.5%;
    }
}
@media screen and (max-width: 810px) {
    * {
        font-size: 80%;
    }
    #html, #css, #js {
        max-width: 13%;
        bottom: 9%;
    }
    #barra, #bar {
        height: 2rem;
    }
}

/* Bounce in left */
#content {
    position: relative;
    animation-name:none;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0%   {left: -1000px;}
    100% {left: 0;}
}
    
